#
# Example config file for Hatohol Server.
#
# A comment line begins with '#'
# A empty line is ignored.

# A server for storing config information
configDBServer: localhost
configDBServerPort: 0

# server: TYPE (0: Zabbix, 1: Naigos), Hostname, IP Address, nickname, Port, Polling Interval (sec.), Retry Interval (sec.), user name, passowrd[, dbname (only needed for Naigos)]

# Port 0 means default port.
faceRestPort: 0
server: 0, localhost, 127.0.0.1, My machine, 80, 30, 10, Admin,    zabbix
server: 1, localhost, 127.0.0.1, NDOUtils,   0,  30, 10, ndoutils, admin, ndoutils

# user: name, password, admin|guest
user: admin, hatohol, admin
user: guest, guest,   guest


#
# Example config for issue tracking system
#

# issueTracker: TYPE (0: Redmine), Nickname, Base URL, Project Name, Issue Tracker ID (numeric, cab be empty), User name, Password

#issueTracker: 0, Redmine, http://redmine.localdomain, incidents, , admin, admin


# issueSenderAction: Issue Tracker ID, Monitoring Server ID, Hostgroup ID, Trigger Severity
#
# Issue Tracker ID & Monitoring Server ID will begin from 1 and be incremented
# sequentially. Hostgroup ID is assigned by each monitoring server, therefor
# you should find it on each system's UI.
# You can put "-1" for Monitoring Server ID and Hostgroup ID to choose all
# monitoring servers or hostgroups.

#issueSenderAction: 1, -1, -1, 3
