Language: Cpp
BasedOnStyle: Google
IndentWidth: 8
UseTab: ForIndentation
BreakBeforeBraces: Allman
IndentCaseLabels: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 0
AlignTrailingComments: true
AccessModifierOffset: -2
ConstructorInitializerIndentWidth: 0
AlignEscapedNewlinesLeft: false
AlwaysBreakBeforeMultilineStrings: false
NamespaceIndentation: None
Standard: Cpp11
AccessModifierOffset: -8
AlignOperands: true
BinPackParameters: false
# AlignConsecutiveAssignments: true
