*.db
*.la
*.lo
*.log
*.o
*.mo
*.swp
*.trs
*.pyc
*.pyo
*~
.deps/
.libs/
Makefile
Makefile.in
/*.tar.bz2
/aclocal.m4
/autom4te.cache/
/config.guess
/config.h
/config.log
/config.status
/config.sub
/configure
/compile
/client/hatohol/hatohol_def.py
/client/hatohol/autotools_vars.py
/client/static/js/hatohol_def.js
/client/test/browser/expect.js
/client/test/browser/mocha.css
/client/test/browser/mocha.js
/client/test/browser/sinon.js
/client/test/node_modules
/data/init.d/centos/hatohol.centos
/data/init.d/centos/generate_hap2_init_file.sh
/data/init.d/centos/hap2-zabbix-api
/data/init.d/centos/hap2-nagios-ndoutils
/data/init.d/centos/hap2-nagios-livestatus
/data/init.d/centos/hap2-fluentd
/data/init.d/centos/hap2-ceilometer
/data/init.d/debian/hatohol.debian
/data/systemd/hatohol.conf
/data/systemd/generate_service_file.sh
/data/systemd/hatohol.service
/data/systemd/generate_hap2_service_file.sh
/data/systemd/hap2-zabbix-api.service
/data/systemd/hap2-ceilometer.service
/data/systemd/hap2-fluentd.service
/data/systemd/hap2-nagios-ndoutils.service
/data/systemd/hap2-nagios-livestatus.service
/data/systemd/hap2-ceilometer.conf
/data/systemd/hap2-fluentd.conf
/data/systemd/hap2-nagios-livestatus.conf
/data/systemd/hap2-nagios-ndoutils.conf
/data/systemd/hap2-zabbix-api.conf
/depcomp
/hatohol.spec
/install-sh
/libtool
/ltmain.sh
/node_modules
/m4/
/missing
/client/static/js/hatohol_version.js
/server/hap/hatohol-arm-plugin-zabbix
/server/mlpl/mlpl.pc
/server/mlpl/test/loggerTestee
/server/src/hatohol
/server/src/hatohol-resident-yard
/server/test/ActionTp
/server/test/fixtures/mkTestDB
/server/test/hapi-test-plugin
/server/test/zabbix-api-response-collector
/server/tools/build/
/server/tools/hatohol-config-db-creator
/server/tools/hatohol-db-initiator
/server/tools/hatohol-house-keeper
/server/tools/hatohol-def-src-file-generator
/server/tools/hatohol/hatohol_def.py
/server/tools/usr/
/server/tools/tls/hatohol-ca-initialize
/server/tools/tls/hatohol-ca-sign-client-certificate
/server/tools/tls/hatohol-ca-sign-server-certificate
/server/benchmark/bench-string-join
/server/data/10-init-user.sql
/server/data/90-server-type-hapi-json.sql
/server/hap2/build/
/server/hap2/common-files.txt
/server/hap2/hap2-control-functions.sh
/server/hap2/rabbitmqconnector-files.txt
/server/hap2/zabbixapi-files.txt
/server/hap2/hap2.conf
/server/hap2/hap2-zabbix-api.conf
/server/hap2/hap2-nagios-ndoutils.conf
/server/hap2/hap2-nagios-livestatus.conf
/server/hap2/hap2-ceilometer.conf
/server/hap2/hap2-fluentd.conf
/server/hap2/hatohol/autotools_vars.py
/setup-with-ansible/.vagrant/
/setup-with-ansible/vagrant_ansible_inventory_*
/stamp-h1
/test-driver
/config.h.in
