notifications:
  recipients:
    - hatohol-commit@lists.sourceforge.net
language: cpp
compiler:
  - gcc
  - clang
install:
  - server/misc/setup-cutter.sh
  - sudo apt-get install -qq -y autotools-dev libglib2.0-dev libjson-glib-dev libsoup2.4-dev libmysqlclient-dev sqlite3 ndoutils-nagios3-mysql uuid-dev npm python-pip expect python-dev libqpidmessaging2-dev libqpidtypes1-dev libqpidcommon2-dev qpidd
  - mysql -u root < data/test/setup.sql
  - npm install -g mocha
  - npm install -g expect.js
  - npm install -g sinon
  - npm install -g mocha-phantomjs phantomjs
  - sudo pip install django==1.5.4
  - sudo pip install mysql-python
  - sudo sh -c "echo acl allow all all > /etc/qpid/qpidd.acl"
  - sudo /etc/init.d/qpidd restart
before_script:
  - ./autogen.sh
  - ./configure
  - sudo chmod +r /var/log/syslog
  - sudo chmod 777 /var/run
  - make -j`cat /proc/cpuinfo | grep ^processor| wc -l`
script:
  - pushd .
  - MLPL_LOGGER_LEVEL=WARN ./server/mlpl/test/run-test.sh
  - cd server/test && MLPL_LOGGER_LEVEL=WARN ./run-test.sh
  - popd; pushd .
  - cd server/tools/test && MLPL_LOGGER_LEVEL=WARN ./run-test.sh
  - popd; pushd .
  - cd client/test/python && ./run-test.sh
  - popd; pushd .
  - test/launch-hatohol-for-test.sh
  - mocha-phantomjs http://localhost:8000/test/index.html
