notifications:
  recipients:
    - hatohol-commit@lists.sourceforge.net
language: cpp
compiler:
  - gcc
  - clang
env:
  - RUN_TEST="env MLPL_LOGGER_LEVEL=WARN LANG=ja_JP.utf8 ./server/mlpl/test/run-test.sh"
  - RUN_TEST="cd server/test && MLPL_LOGGER_LEVEL=WARN LANG=ja_JP.utf8 ./run-test.sh"
  - RUN_TEST="cd server/tools/test && MLPL_LOGGER_LEVEL=WARN LANG=ja_JP.utf8 ./run-test.sh"
  - RUN_TEST="LANG=ja_JP.utf8 client/test/python/run-test.sh"
  - RUN_TEST="LANG=ja_JP.utf8 test/launch-hatohol-for-test.sh && mocha-phantomjs http://localhost:8000/test/index.html"
  - RUN_TEST="./test/dist-check.sh"
matrix:
  exclude:
    - compiler: clang
      env: RUN_TEST="cd client/test/python && ./run-test.sh"
    - compiler: clang
      env: RUN_TEST="test/launch-hatohol-for-test.sh && mocha-phantomjs http://localhost:8000/test/index.html"
    - compiler: clang
      env: RUN_TEST="./test/dist-check.sh"
install:
  - server/misc/setup-cutter.sh
  - sudo apt-get install -qq -y autotools-dev libglib2.0-dev libjson-glib-dev libsoup2.4-dev libmysqlclient-dev sqlite3 ndoutils-nagios3-mysql uuid-dev npm python-pip expect python-dev libqpidmessaging2-dev libqpidtypes1-dev libqpidcommon2-dev qpidd librabbitmq-dev
  - mysql -u root < data/test/setup.sql
  - npm install -g mocha
  - npm install -g expect.js
  - npm install -g sinon
  - npm install -g mocha-phantomjs phantomjs
  - sudo pip install django==1.5.4
  - sudo pip install mysql-python
  - sudo sh -c "printf '[%s]\n%s=%s\n' mysqld character-set-server utf8  > /etc/mysql/conf.d/utf8.cnf"
  - sudo service mysql restart
  - sudo sh -c "echo acl allow all all > /etc/qpid/qpidd.acl"
  - sudo /etc/init.d/qpidd restart
before_script:
  - ./autogen.sh
  - ./configure
  - sudo chmod +r /var/log/syslog
  - sudo chmod 777 /var/run
  - make -j`cat /proc/cpuinfo | grep ^processor| wc -l`
script:
  - echo $RUN_TEST; eval "$RUN_TEST"
