notifications:
  email:
    recipients:
      - hatohol-commit@lists.sourceforge.net
language: cpp
compiler:
  - gcc
  - clang
env:
  global:
    - MLPL_LOGGER_LEVEL=WARN
    - NO_MAKE=yes
  matrix:
    - RUN_TEST="test/run-server-test.sh"
matrix:
  include:
    - compiler: gcc
      env: RUN_TEST="test/dist-check.sh"
    - compiler: gcc
      env: RUN_TEST="test/run-client-test.sh"
    - compiler: gcc
      env: RUN_TEST="test/feature-test.sh"

before_install:
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - sudo add-apt-repository ppa:cosmo0920-oucc/rabbitmq-c -y
  - sudo apt-get update -qq
  - sudo apt-get install -qq -y librabbitmq-dev
  - if [ "$CXX" = "clang++" ]; then sudo apt-get install -qq libstdc++-4.8-dev; fi
  - if [ "$CXX" = "g++" ]; then sudo apt-get install -qq g++-4.8; fi
  - if [ "$CXX" = "g++" ]; then export CXX="g++-4.8" CC="gcc-4.8"; fi

install:
  - server/misc/setup-cutter.sh
  - sudo apt-get install -qq -y autotools-dev libglib2.0-dev libjson-glib-dev libsoup2.4-dev libmysqlclient-dev sqlite3 ndoutils-nagios3-mysql uuid-dev npm python-pip expect python-dev libqpidmessaging2-dev libqpidtypes1-dev libqpidcommon2-dev qpidd rabbitmq-server python-pika amqp-tools
  - sudo sh -c "printf '[%s]\n%s=%s\n' mysqld character-set-server utf8  > /etc/mysql/conf.d/utf8.cnf"
  - sudo sh -c "printf '[%s]\n%s=%s\n' client default-character-set utf8  >> /etc/mysql/conf.d/utf8.cnf"
  - mysql -u root < data/test/setup.sql
  - npm install -g mocha
  - npm install -g expect.js
  - npm install -g sinon
  - npm install -g mocha-phantomjs phantomjs
  - npm install -g casperjs
  - sudo pip install django==1.5.4
  - sudo pip install mysql-python
  - sudo pip install daemon
  - sudo sh -c "echo acl allow all all > /etc/qpid/qpidd.acl"
  - sudo /etc/init.d/qpidd restart
  - sudo server/misc/setup-rabbitmq-server-port.sh
  - sudo service rabbitmq-server restart
before_script:
  - ./autogen.sh
  - ./configure
  - make
  - sudo chmod +r /var/log/syslog
  - sudo chmod 777 /var/run
script:
  - echo $RUN_TEST; eval "$RUN_TEST"
