#
# Example config file for Asura.
#
# A comment line begins with '#'
# A empty line is ignored.

# server: Server ID, TYPE (0: Zabbix, 1: Naigos), Hostname, IP Address, nickname, Port, Polling Interval (sec.), Retry Interval (sec.), user name, passowrd[, dbname (only needed for Naigos)]

# Port 0 means default port.
faceRestPort: 0
server: 1, 0, localhost, 127.0.0.1, My machine, 80, 30, 10, admin,    zabbix
server: 2, 1, localhost, 127.0.0.1, NDOUtils,   0,  30, 10, udoutils, admin, udoutils
